In [1]:
import pandas as pd
import numpy as np

In [3]:
# Download the data set
!curl -o hw2-dataset.csv https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  6 1390k    6 98304    0     0   213k      0  0:00:06 --:--:--  0:00:06  214k
 33 1390k   33  464k    0     0   316k      0  0:00:04  0:00:01  0:00:03  316k
 51 1390k   51  715k    0     0   293k      0  0:00:04  0:00:02  0:00:02  293k
 69 1390k   69  964k    0     0   275k      0  0:00:05  0:00:03  0:00:02  275k
 86 1390k   86 1198k    0     0   269k      0  0:00:05  0:00:04  0:00:01  269k
100 1390k  100 1390k    0     0   264k      0  0:00:05  0:00:05 --:--:--  269k

Question 1
There's one feature with missing values. What is it?

In [5]:
df = pd.read_csv('./hw2-dataset.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [26]:
df = df[df['ocean_proximity'].isin(['<1H OCEAN', 'INLAND'])]
df = df[['latitude','longitude','housing_median_age','total_rooms','total_bedrooms','population','households','median_income','median_house_value']]

In [27]:
# Or
df.isnull().sum()

latitude                0
longitude               0
housing_median_age      0
total_rooms             0
total_bedrooms        102
population              0
households              0
median_income           0
median_house_value      0
dtype: int64

In [28]:
print(f"Ans: total_bed_rooms")

Ans: total_bed_rooms

Question 2
What's the median (50% percentile) for variable 'population'?

In [29]:
median = df['population'].median()
print(f"Ans: {median}")

Ans: 1247.0

Question 3
We need to deal with missing values for the column from Q1.
We have two options: fill it with 0 or with the mean of this variable.
Try both options. For each, train a linear regression model without regularization using the code from the lessons.
For computing the mean, use the training only!
Use the validation dataset to evaluate the models and compare the RMSE of each option.
Round the RMSE scores to 2 decimal digits using round(score, 2)
Which option gives better RMSE?
Options:

With 0
With mean
Both are equally good

In [31]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
import numpy as np

# With 0 fill
df_with_0_fill = df.copy()
df_with_0_fill['population'] = df_with_0_fill['population'].fillna(0, inplace=True)

# With mean fill
df_with_mean_fill = df.copy()
mean_val = df_with_mean_fill['population'].mean()
df_with_mean_fill['population'] = df_with_mean_fill['population'].fillna(mean_val, inplace=True)

In [ ]:
X_train_with_0_fill = df_with_0_fill.drop('')

In [ ]:

# Step 4: Train linear regression models for both options
X_train_fill_0 = train_df_fill_0.drop('target_variable', axis=1)  # Replace 'target_variable' with your target column
y_train_fill_0 = train_df_fill_0['target_variable']

X_train_fill_mean = train_df_fill_mean.drop('target_variable', axis=1)  # Replace 'target_variable' with your target column
y_train_fill_mean = train_df_fill_mean['target_variable']

reg_fill_0 = LinearRegression()
reg_fill_0.fit(X_train_fill_0, y_train_fill_0)

reg_fill_mean = LinearRegression()
reg_fill_mean.fit(X_train_fill_mean, y_train_fill_mean)

# Step 5: Evaluate models and compare RMSE scores
X_val_fill_0 = val_df_fill_0.drop('target_variable', axis=1)  # Replace 'target_variable' with your target column
y_val_fill_0 = val_df_fill_0['target_variable']

X_val_fill_mean = val_df_fill_mean.drop('target_variable', axis=1)  # Replace 'target_variable' with your target column
y_val_fill_mean = val_df_fill_mean['target_variable']

y_pred_fill_0 = reg_fill_0.predict(X_val_fill_0)
rmse_fill_0 = np.sqrt(mean_squared_error(y_val_fill_0, y_pred_fill_0))

y_pred_fill_mean = reg_fill_mean.predict(X_val_fill_mean)
rmse_fill_mean = np.sqrt(mean_squared_error(y_val_fill_mean, y_pred_fill_mean))

# Compare RMSE scores
print("RMSE with filling missing values with 0:", round(rmse_fill_0, 2))
print("RMSE with filling missing values with mean:", round(rmse_fill_mean, 2))